nav.navbar {
  background-color: #eff6ff;
  color: #2563eb;
  padding: 1% 1%;
}

.navbar-brand {
  width: 10%;
}

.navbar-brand a {
  text-decoration: none;
  color: #2563eb;
}

.navbar-brand > img {
  width: 70%;
}

.derecha {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#navMenu button {
  color: white;
}

#navVentas button {
  color: white;
}

#navMaqu button {
  color: white;
}

#navConst button {
  color: white;
}
