.register-form {
  background-color: #eff6ff;
  color: #2563eb;
  width: 70%;
  margin-top: 5%;
  padding: 2%;
  border-radius: 3%;
}

#registroProyecto > div {
  margin-top: 2%;
}

#casasEtapa > div {
  margin-top: 2%;
}

.more-info {
  background-color: #eff6ff;
  color: #2563eb;
  width: 30%;
  margin-top: 5%;
  margin-left: 2%;
  padding: 2%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#liveAlert {
  width: 25%;
}
